<!DOCTYPE html>
<html>
<head>
<title>RTS</title>
</head>
<body>

<style>
    header {
        background-color: #f8f9fa;
        padding: 20px;
        text-align: left;
    }
</style>

<header>
    <a href='/link_to_strava'>
        <button>Link to Strava</button>
    </a>
    <a href='/activities'>
        <button>View Activities</button>
    </a>
</header>

<h1>Welcome to RTS (Runner Training Software)</h1>

<p>Right now, this looks like a government website, but dont worry! It's just a prototype.</p>

</body>
</html>
