<!DOCTYPE html>
<html>
<head>
<title>Auth - RTS</title>
<link rel="icon" href="static/RTS.png" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

{% if strava_connected %}
    <h3>Thank you for joining RTS. Your Strava account is linked!</h3>
    <h2>Last step! Fill out the following data so we can give you the most accurate </h2>
    <form method="post">
        <input type="float" name="height_feet" placeholder="Height (ft)" style="width: 100px;" required> ft
        <input type="float" name="height_inches" placeholder="Height (in)" style="width: 100px;" required> in <br>
        <input name="age" type="number" placeholder="Age" required><br>
        <input name="max_hr" type="number" placeholder="Max Heartrate" required> bpm<br>
        <input name="stride_length" type="number" placeholder="Stride Length (in)" required> inches<br>
        <input name="hosc" type="float" placeholder="Horizontal Oscilation (Normally 0.05-0.12)" required> meters<br>
        <input name="afrontal" type="float" placeholder="Frontal Area (Normally 0.5)" required> square meters<br>
        <input type="float" name="fastest_pace_min" placeholder="Fastest Mile (min)" style="width: 100px;" required> : 
        <input type="float" name="fastest_pace_sec" placeholder="Fastest Mile (sec)" style="width: 100px;" required> min/mi*<br>
        <input name="ftp" type="number" placeholder="Functional Threshold Power" required> Watts<br>
        <button type="submit">Finish</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>{% for msg in messages %}<li>{{ msg }}</li>{% endfor %}</ul>
      {% endif %}
    {% endwith %}
    <footer>
        <p>*A mile is 1609.34 meters. The standard conversion from a 1600 time to a Mile time is to add 2 seconds onto the time.</p>
    </footer>
{% else %}
    <h3>Authorization failed. Please try again.</h3>
{% endif %}
</body>
</html>
