<!DOCTYPE html>
<html>
<head>
<title>Strava Authorization - RTS</title>
<link rel="icon" href="static/RTS.png" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<h1>Authorize Your Strava Account</h1>

<p>Click the button below to authorize your application to access your Strava data.</p>

<a href='https://www.strava.com/oauth/authorize?client_id=165401&response_type=code&redirect_uri=http://localhost:8000/authorized&approval_prompt=force&scope=read,activity:read,activity:read_all'>
  <button>Connect with Strava</button>
</a>

</body>
</html>
